<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar moedas", edit_coin_path(@coin) %> |
  <%= link_to "Voltar a lista de moedas", coins_path %>

  <%= button_to "Deletar moedas", @coin, method: :delete %>
</div>
